<div class="bg-fill">
<section>
  <div class="container-fluid bg-light">
    <h3 class="section-header big-text">Welcome!</h3>
    <div class="col-sm-6 offset-3 text-center">
        <p>M - make</p>
        <p>M - me</p>
        <p>A - an</p>
        <p>O - offer</p>
        <p><i style="text-decoration: line-through">This is how we do</i></p>
        <p>This is how i am looking for a new job.
          I made this resource to interest potential employers. Below presented some information about me</p>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid bg-light">
    <h3 class="section-header big-text">My expirience</h3>
  </div>
</section>
<section>
  <div class="container-fluid bg-light">
    <h3 class="section-header big-text">Did i interest you?</h3>
  </div>
</section>
</div>
