span{
  margin-right: 10px;
}

span:hover{
  cursor: pointer;
  color: burlywood;
}

mat-icon:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

mat-toolbar{
  width: 100%;
}
